.login-form {
    display: flex;
    flex-direction: column;
}

.login-field {
    display: flex;
    flex-direction: column;
   
}

.login-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.link {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}