

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Coming+Soon&display=swap');


body {
    align-items: center;
    justify-content: center;
    font-family: 'Baloo 2', sans-serif;
    margin: 0;
    box-sizing: 0;
}